.headings {
  width: 53vw;
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  border: 1px solid;
}

.heading-4xl {
  font-size: 3rem;
}
.heading-3xl {
  font-size: 2.7rem;
}
.heading-2xl {
  font-size: 2.4rem;
}
.heading-xl {
  font-size: 2.1rem;
}
.heading-lg {
  font-size: 1.8rem;
}
.heading-md {
  font-size: 1.5rem;
}
.heading-sm {
  font-size: 1.2rem;
}
.heading-xs {
  font-size: 0.9rem;
}
